.btn {
    &:link,
    &:visited {
        /* visited - when user already clicked once */
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block; /*do that if there are some paddings, inline-block treated as a text*/
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: 1.6rem;
    }
    &:hover {
        transform: translateY(-0.3rem); /*minus - go up*/
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        /*1st - offset x direction, 2nd - y direction, 3rd - blur, 4th - color*/
        &::after {
            transform: scaleX(1.4) scaleY(1.6); /*scale increase an element*/
            opacity: 0; /*fading out*/
        }
    }
    &:active {
        transform: translateY(-0.1rem); /*related to initial link state*/
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: white;
        }
    }
    &::after {
        /*pseudoelement is treated as a child of element*/
        content: ''; /*always necessary*/
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; /*appearance behind intitial button*/
        transition: all 0.4s;
    }
    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s; /*last for delay*/
        animation-fill-mode: backwards; /*automaticaly applies the styles before animation starts*/
    }
}
