.bg-video {
    position: absolute; //to section stories
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; //send lower layer. that wil make button and heading visible
    opacity: 0.15;
}
